<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="/QRBoxTopLogo@1x.png" sizes="50x50">
  <link rel="icon" type="image/png" href="/QRBoxTopLogo@3x.png" sizes="150x150">
  <link rel="icon" type="image/png" href="/QRBoxTopLogo@2x.png" sizes="100x100">
  <link rel="icon" type="image/png" href="/QRBoxTopLogo@0.5x.png" sizes="25x25">
  <title>BasicBoxtopApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
